
.f-s-36 {
  font-size: clamp(24px, 2.25rem, 36px);
}
.f-s-24 {
  font-size: clamp(18px, 1.5rem, 24px);
}
.f-s-16 {
  font-size: clamp(12px, 1rem, 16px);
}
.f-s-12 {
  font-size: clamp(8px, 0.75rem, 12px);
}

.f-w-900 {
  font-weight: 900;
}
.f-w-700 {
  font-weight: 700;
}
.f-w-600 {
  font-weight: 600;
}
.f-w-500 {
  font-weight: 500;
}
.g-f-w--500 {
  font-weight: 500;
}
.f-w-400 {
  font-weight: 400;
}
.f-w-300 {
  font-weight: 300;
}
.f-w-100 {
  font-weight: 100;
}

.f-l-h-1 {
  line-height: 1;
}
