
.g-ml-1 {
  margin-left: var(--sm-spacing);
}
.g-mt-1 {
  margin-top: var(--sm-spacing);
}
.g-mb-1 {
  margin-bottom: var(--sm-spacing);
}
.g-mr-1 {
  margin-right: var(--sm-spacing);
}
.g-mx-1 {
  margin: 0 var(--sm-spacing);
}
.g-my-1 {
  margin: var(--sm-spacing) 0;
}
.g-m-1 {
  margin: var(--sm-spacing);
}

.g-ml-2 {
  margin-left: var(--md-spacing);
}
.g-mt-2 {
  margin-top: var(--md-spacing);
}
.g-mb-2 {
  margin-bottom: var(--md-spacing);
}
.g-mr-2 {
  margin-right: var(--md-spacing);
}
.g-mx-2 {
  margin: 0 var(--md-spacing);
}
.g-my-2 {
  margin: var(--md-spacing) 0;
}
.g-m-2 {
  margin: var(--md-spacing);
}

.g-ml-3 {
  margin-left: var(--lg-spacing);
}
.g-mt-3 {
  margin-top: var(--lg-spacing);
}
.g-mb-3 {
  margin-bottom: var(--lg-spacing);
}
.g-mr-3 {
  margin-right: var(--lg-spacing);
}
.g-mx-3 {
  margin: 0 var(--lg-spacing);
}
.g-my-3 {
  margin: var(--lg-spacing) 0;
}
.g-m-3 {
  margin: var(--lg-spacing);
}
